<!DOCTYPE html>
<html ng-app="app" lang="en">
	<head>
		<title>Can I Graduate? | UChicago</title><!-- No, you cannot -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
		<script src="ui-bootstrap-tpls-0.10.0.min.js"></script>
		<script src="once.js"></script>
		<script src="angular-base64.min.js"></script>
		<script src="classes.js"></script>
		<script src="requirements.js"></script>
		<script src="sequences.js"></script>
		<script src="//google.com/jsapi"></script>
		<script src="kevin-wangular.js"></script>
		<style type="text/css">
		.pointer {
			cursor:pointer;
		}
		body {
			background-color:#EAE9E1;
		}
		header {
			background-color:#800000;
			color:white;
			padding-top:1em;
			border-bottom:10px solid #971E21;
		}
		#content {
			background-color:#F7F6EE;
			border-left:1px solid #DEDED6;
			border-right:1px solid #DEDED6;
			padding-top:1em;
			padding-bottom:1em;
		}
		footer {
			background-color:#403F3F;
			color:#999999;
			padding-top:1em;
			padding-bottom:2em;
		}
		.affix {
			top:25px;
		}
		.sequence {
			margin-right:5px;
			margin-bottom:5px;
		}
		.list-group-item {
			padding:5px 15px;
		}
		.list-group {
			margin-bottom:0;
		}
		</style>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1>Can I Graduate?</h1>
					</div>
					<div class="col-md-4 text-right">
						<img src="https://classes.uchicago.edu/i/uc_wordmark_phoenix.png" alt="UChicago"/>
					</div>
				</div>
			</div>
		</header>
		<div class="container clearfix" id="content" ng-controller="AirTrafficCtrl">
			<div class="row">
				<div class="col-md-6"><div>
				<div class="row">
					<div class="col-md-6">
						<h2>Your Courses</h2>
					</div>
					<div class="col-md-6 text-right">
						<span ng-click="load()" class="pointer btn btn-success btn-lg">Import Classes</span>
						<span ng-click="save()" class="pointer btn btn-default btn-lg">Export</span>
					</div>
				</div>
				<div class="alert alert-info" ng-if="!userClasses.length">
					You don't have any classes added. Add them one at a time below or push the import button.
				</div>
				<table class="table table-striped" ng-show="userClasses.length > 0">
					<tr>
						<th class="text-right">ID</th>
						<th>Title</th>
					</tr>
					<tr ng-repeat="class in userClasses | orderBy:'toString()'">
						<td class="col-sm-3 text-right">
							{{class.substring(class, class.indexOf(' :: '))}}
						</td>
						<td class="col-sm-9">
							{{class.substring(class.indexOf(' :: ') + 4)}}
						<i ng-click="userClasses.splice(userClasses.indexOf(class), 1);evaluate()" class="pointer pull-right glyphicon glyphicon-remove"></i>
						</td>
					</tr>
				</table>
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="searchClasses">Add</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="searchClasses" placeholder="Math 162" ng-model="addClassValue" typeahead-wait-ms="500" typeahead-on-select="addClass($item)" typeahead="class for class in classes | filter:$viewValue | limitTo:20" typeahead-editable="false"/>
						</div>
					</div>
				</form>
				</div>
			<h2>Common Sequences</h2>
			<div class="btn btn-xs btn-primary pointer sequence" ng-repeat="(title, grouping) in sequences" ng-click="toggleSequence(grouping)" ng-class="{'active':hasSequence(grouping)}" once-text="title"></div>
			<h2>Recommended Courses</h2>
			<div class="alert alert-info" ng-if="!recommendations.length">There's not enough information to recommend classes for you. You should add more classes above.</div>
			<accordion>
				<accordion-group ng-repeat="recommend in recommendations" is-open="isOpen">
					<accordion-heading>
						<div class="pointer">
							<i class="glyphicon glyphicon-book" ng-hide="child.complete"></i>
							<span once-text="recommend.classes | fill"></span>
							<span once-text="getName(recommend.classes)"></span>
						</div>
					</accordion-heading>
					<div class="text-info small" ng-init="getDescription(recommend, 'recommendation-distribution')" ng-if="isOpen">
						<span ng-bind="recommend.description"></span>
						<div id="recommendation-distribution"></div>
						<table ng-if="recommend.sections" class="table table-hover small">
							<thead>
								<tr>
									<th>&sect;</th>
									<th>Quarter</th>
									<th>Instructor</th>
									<th>Schedule</th>
									<th>Enroll</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="section in recommend.sections">
									<td once-text="section.section"></td>
									<td once-text="section.quarter"></td>
									<td once-text="section.instructor"></td>
									<td once-text="section.schedule"></td>
									<td once-text="section.enrollment"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</accordion-group>
			</accordion>
			</div>
			<div class="col-md-6">
			<h2>Departments</h2>
			<accordion>
				<accordion-group ng-repeat="(key, val) in requirements" is-open="accordionOpen">
					<accordion-heading>
					<div class="row pointer">
						<div class="col-xs-9" once-text="key"></div>
						<div class="col-xs-3 text-right"><span class="label label-default" ng-hide="val.base == val.total">{{val.total - val.base}} class<span ng-if="val.total - val.base != 1">es</span></span><span class="label label-success" ng-show="val.base == val.total">Finished!</span></div>
					</div>
					</accordion-heading>
					<div ng-if="accordionOpen">
						<span once-text="val.notes"></span>
						<h3>Requirements <small ng-show="val.base == val.total" ng-click="isOpen=!isOpen" class="pointer">(click to toggle)</small></h3>
						<ul class="list-group" collapse="!isOpen && (val.base == val.total)">
							<li class="list-group-item" ng-repeat="child in val.classes" ng-include="'requirements.html'"></li>
						</ul>
					</div>
				</accordion-group>
			</accordion>
			</div></div>
		</div>
		<script type="text/ng-template" id="requirements.html">
			<span ng-if="!isLeaf(child)">
			<strong ng-click="isOpen=!isOpen">
				<span ng-show="!child.complete">
					<span ng-show="child.require == child.classes.length">All</span>
					<span ng-hide="child.require==child.classes.length" once-text="child.require"></span>
					of the following:</span>
				<span ng-show="child.complete" class="pointer text-success">
					<span ng-show="child-require==child.classes.length">All</span>
					<span ng-hide="child-require==child.classes.length" once-text="child.require"></span>
					required class<span ng-show="child.require > 1">es</span> finished <span class="text-muted">(click to toggle)</span></span>
			</strong>
				<a class="pull-right pointer" ng-click="forceIgnore(child)" ng-show="!child.complete || child.force">
					<i class="glyphicon glyphicon-volume-off" ng-show="!child.force" tooltip="Ignore"></i><i class="glyphicon glyphicon-volume-up" ng-show="child.force" tooltip="Unignore"></i>
				</a>
			<small class="text-muted" once-text="child.notes"></small>
			<ul class="list-group" collapse="!isOpen && (child.base == child.total)">
				<li class="list-group-item" ng-repeat="child in child.classes track by $index" ng-include="'requirements.html'"></li>
			</ul>
			</span>
			<span ng-if="isLeaf(child)" ng-class="{'text-danger':!child.complete, 'text-success':child.complete}">
				<div class="clearfix">
					<span ng-click="showDetails=!showDetails" ng-class="{'pointer':child.classes.length == 10}">
						<i class="glyphicon glyphicon-ok" ng-show="child.complete"></i>
						<i class="glyphicon glyphicon-book" ng-hide="child.complete"></i>
						<span once-text="child.classes | fill"></span>
						<span once-text="getName(child.classes)"></span>
						<small class="text-muted" ng-if="child.complete && child.classes.length < 10" ng-bind="child.userClass"></small>
					</span>
					<a class="pull-right pointer" ng-click="forceIgnore(child)" ng-show="!child.complete || child.force">
						<i class="glyphicon glyphicon-volume-off" ng-show="!child.force" tooltip="Ignore"></i><i class="glyphicon glyphicon-volume-up" ng-show="child.force" tooltip="Unignore"></i>
					</a>
				</div>
				<div class="text-info small" ng-if="showDetails && child.classes.length == 10" ng-init="getDescription(child, 'distribution-' + child.classes.substring(5))">
					<span ng-bind="child.description"></span>
					<div id="distribution-{{child.classes.substring(5)}}"></div>
					<span class="text-muted" ng-if="child.notes">Notes: {{child.notes}}</span>
					<table ng-if="child.sections" class="table table-hover small">
						<thead>
							<tr>
								<th>&sect;</th>
								<th>Quarter</th>
								<th>Instructor</th>
								<th>Schedule</th>
								<th>Enroll</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="section in child.sections">
								<td once-text="section.section"></td>
								<td once-text="section.quarter"></td>
								<td once-text="section.instructor"></td>
								<td once-text="section.schedule"></td>
								<td once-text="section.enrollment"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</span>
		</script>
		<script type="text/ng-template" id="save.html">
			<div class="modal-header"><h4>Save a Class List</h4></div>
			<div class="modal-body">
				<p>Save the following string and paste it into the load box to recover your class list later:</p>
				<pre ng-bind="saveString"></pre>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="$close()">Hokay!</button>
			</div>
		</script>
		<script type="text/ng-template" id="load.html">
			<div class="modal-header"><h4>Load a Class List</h4></div>
			<div class="modal-body">
				<form role="form" class="form-horizontal">
					<p>Enter your export data to load from the export string.</p>
					<div class="form-group">
						<label for="save-string" class="col-md-2 control-label">Data</label>
						<div class="col-md-10">
							<input type="text" id="save-string" class="form-control" ng-model="data.str"/>
						</div>
					</div>
					<hr/>
					<h3 class="text-center">OR</h3>
					<hr/>
					<p>Enter your CNetID and password to load from my.uchicago.edu</p>
					<div class="form-group">
						<label for="cnet" class="col-md-2 control-label">CNetID</label>
						<div class="col-md-10">
							<input type="text" id="cnet" class="form-control" ng-model="data.cnet"/>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-2 control-label">Password</label>
						<div class="col-md-10">
							<input type="password" id="password" class="form-control" ng-model="data.password"/>
						</div>
					</div>
					<div class="alert alert-danger"><strong>FULL DISCLOSURE:</strong> By entering your CNetID and password, you authorize this application to log in to my.uchicago.edu as you and access your class and grade information. This information will be used for grade distribution statistics and class recommendations, but personally identifiable information <strong>is not saved</strong>. If you don't want this app to masquerade as you, click the nvm button below. If you'd like to review this app's source code, you can do so at <a href="https://github.com/kevmo314/canigraduate.uchicago.edu" target="_blank">the GitHub repo</a>.</div>
			</div>
			<div class="modal-footer">
				<div class="col-md-7">
					<progressbar ng-if="message" class="progress-striped active" type="info" value="100">{{message}}</progressbar>
				</div>
				<div class="col-md-5">
					<button class="btn btn-success" ng-click="load()">Import, please!</button>
					<button class="btn btn-default" ng-click="$close()">nvm</button>
				</div>
			</div>
		</script>
		<footer>
			<div class="container">
				<div class="text-center text-muted">
					<p>DISCLAIMER: This is intended to be a helpful tool, not a replacement for intelligence. Manually verify that you've completed your requirements every so often before you graduate.</p>
					<p>Field of study missing? That's because I couldn't understand its catalog listing (read: I didn't feel like reading through it).</p>
					<p>View the source code on GitHub and make <a href="https://github.com/kevmo314/canigraduate.uchicago.edu/pulls">a pull request</a> to add it!</p>
					<p>Found a mistake? Have a suggestion? Giving away free cows? <a href="mailto:kdwang@uchicago.edu">Let me know!</a></p>
					<p>Written by <a href="http://kevmo314.com/">Kevin Wang</a>, <a href="https://github.com/kevmo314/canigraduate.uchicago.edu">GitHub</a>, donate: 15AeuxTuPQpntVvq4KVGqSxZM3ry39PV6Q</p>
				</div>
			</div>			
		</footer>
	</body>
</html>
