<div class="modal-header">
	<h3>Scheduling Conflict</h3>
</div>
<div class="modal-body">
	<p>Adding this section would conflict with your current schedule. Are you sure you wish to add it?</p>
	<alert type="warning">Due to Kevin's laziness, the calendar does not render intersecting activities properly. If you add this section, you may not see all of this class's activites. This will be fixed soon.</alert>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="$close()">Okay, add pls</button>
	<button class="btn btn-default" ng-click="$dismiss()">nvm, don't add</button>
</div>
