<div class="modal-header"><h4>Negotiate an Offer</h4></div>
<div class="modal-body clearfix">
	<div class="col-sm-6">
		<h4 ng-bind="::offer.cnetid"></h4>
		<form rel="form">
			<div class="form-group">
				<label>Quarter</label>
				<p class="form-control-static" ng-bind="::offer.quarter"></p>
			</div>
			<div class="form-group">
				<label>Class</label>
				<p class="form-control-static" ng-bind="::offer.id"></p>
			</div>
			<div class="form-group">
				<label>Note</label>
				<p class="form-control-static" ng-bind="::offer.note"></p>
			</div>
		</form>
	</div>
	<div class="col-sm-6">
		<h4 ng-bind="::negotiation.cnetid"></h4>
		<form rel="form">
			<div class="form-group">
				<label for="quarter" class="control-label ">Quarter</label>
				<select id="quarter" class="form-control" ng-options="quarter for quarter in quarters" ng-model="negotiation.quarter"></select>
			</div>
			<div class="form-group">
				<label for="id" class="control-label ">Class</label>
				<p class="form-control-static" ng-if="!availableCourses">Loading...</p>
				<ul class="list-group pointer">
					<li class="list-group-item"
					    ng-repeat="course in availableCourses"
					    ng-bind="::course.id"
					    ng-class="{disabled:course.disabled, active:negotiation.id==course.id}"
					    ng-click="negotiation.id=course.id"></li>
				</ul>
			</div>
			<div class="form-group">
				<label for="note" class="control-label ">Note</label>
				<input type="text" class="form-control" placeholder="Hi Mugit! Thanks for trading with me!" ng-bind="negotiation.note"/>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<input type="submit" value="Send!" class="btn btn-success" ng-click="$close(negotiation)" ng-disabled="!negotiation.id"/>
	<button class="btn btn-default" ng-click="$dismiss()" type="button">nvm</button>
</div>
