<div class="modal-header"><h4>A Personal Appeal from Magister Mugit</h4></div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-6">
			<div class="thumbnail">
				<img src="/survey.jpg" alt="M U G I T!"/>
				<div class="caption">
					<em>Magister Mugit</em>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p>Magister Mugit works tirelessly to make <strong>Can I Graduate?</strong> as useful as possible, but sometimes it's hard to decide what features to add and what needs work. Would you be willing to take a quick survey to help him out?</p>
			<p>The survey is completely anonymous and should take no more than five minutes. In exchange, Mugit can add the features that you want to see!</p>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a href="https://docs.google.com/forms/d/15G6JTGfqqJs3CQIK0YZw0O0uEXqiqte9i8G0azIRn1U/viewform" target="_blank" class="btn btn-danger" ng-click="$close()">Okay Mugit! I'll take the survey!</a>
	<button class="btn btn-default" ng-click="$close()">I don't wanna take no stinkin' survey :(</button>
</div>
