<div id="tutorial-watches">
<div ng-if="!authentication.cnetid.length">
	<h2>Your Watches</h2>
	<alert type="info">Watches let you subscribe to notifications when class enrollment changes. <a ng-click="load()">Import your data</a> to add watches.</alert>
</div>
<div ng-if="authentication.cnetid.length">
	<div class="row">
		<div class="col-xs-9">
			<h2>Your Watches <small>{{authentication.cnetid}}@uchicago.edu</small></h2>
		</div>
		<div class="col-xs-3">
			<a style="margin-top:30px" class="pull-right btn btn-default btn-xs" ng-click="watches.remove()"><i class="fa fa-trash"></i> Remove all</a>
		</div>
	</div>
	<p class="text-muted">Accuracy contingent on active users. For higher accuracy, ask IT Services for an API.</p>
	<alert type="info" ng-if="!watches.data.length">You don't have any watches. Import your data and click the <i class="fa fa-bell"></i> icon in the "Find Classes" panel to add one.</alert>
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th class="col-sm-3">Quarter</th>
				<th class="col-sm-3">Class</th>
				<th class="col-sm-2">Section</th>
				<th class="col-sm-2">Activity</th>
				<th class="col-sm-1"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="watch in watches.data" tooltip="{{watch.course ? getName(watch.course) : ''}}" tooltip-append-to-body="true" tooltip-placement="left" ng-click="interface.findClass(watch.course)" class="pointer"
			    ng-mouseenter="hover=true" ng-mouseleave="hover=false">
				<td ng-bind="::(watch.quarter || '*')"></td>
				<td ng-bind="::(watch.course || '*')"></td>
				<td ng-bind="::(watch.section || '*')"></td>
				<td ng-bind="::(watch.activity || '*')"></td>
				<td class="text-right">
					<span ng-if="removing" class="text-muted">Removing...</span>
					<a ng-if="!removing && hover" ng-click="removing=true;watches.remove(watch)"><i class="fa fa-minus" tooltip="Remove"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-default btn-block" ng-click="add()"><i class="fa fa-plus"></i> Add</button>
</div>
</div>
